* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: aqua;
  padding: 10px 10%;
}

.logo {
  margin-right: auto;
  background-color: aqua;
}

.logo img {
  height: 120px;
  background-color: aqua;
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links a {
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  color:rgb(33, 33, 33);
  background-color: aqua;
}

.nav_links li {
  padding: 0px 20px;
  background-color: aqua;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  font-weight: bold;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.img-container img {
  height: 500px;
}

.title-container .fan {
  text-align: right;
}

.title-container h1 {
  padding-left: 20px;
}

.title-container, .pillars {
  font-family: 'Knewave', cursive;
  color:rgb(33, 33, 33);
}

.pillars {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
