* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(249, 238, 225);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(3, 233, 233);
  padding: 10px 10%;
}

.logo {
  margin-right: auto;
  background-color: rgb(3, 233, 233);
}

.logo img {
  height: 120px;
  background-color: rgb(3, 233, 233);
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links a {
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  color:rgb(33, 33, 33);
  background-color: rgb(3, 233, 233);
}

.nav_links li {
  padding: 0px 20px;
  background-color: rgb(3, 233, 233);
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  font-weight: bold;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.img-container img {
  height: 500px;
}

.title-container .fan {
  text-align: right;
}

.title-container h1 {
  padding-left: 20px;
}

.title-container, .pillars, .survey h1, .survey h4, .resources h1, .characters h1 {
  font-family: 'Knewave', cursive;
  color:rgb(33, 33, 33);
  letter-spacing: 5px;
}

.pillars {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.survey, .resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.survey form {
  padding: 30px 0;
}

form fieldset {
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  font-family: 'Jost', sans-serif;
}

fieldset legend {
  letter-spacing: 5px;
  padding: 0 10px;
  font-size: 1.25em;
}

input[type=text] {
  padding: 4px;
  border-radius: 4px;
  margin: 4px 0;
}

textarea {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.1);
  height:150px;
}

button {
  font-family: 'Jost', sans-serif;
  padding: 5px 25px;
  font-size: 1em;
  border-radius: 4px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.1);
  border-color: rgb(33, 33, 33);
}

main.resources {
  padding: 30px 0;
}

ul.links {
  list-style: none;
  padding: 30px 0;
}

ul.links a {
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  color:rgb(33, 33, 33);
}

ul.links li {
  padding: 20px 0;
}

ul.links li a {
  transition: all 0.3s ease 0s;
}

ul.links li a:hover {
  font-weight: bold;
  text-decoration: underline overline;
}

.characters h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.images img, .images2 img {
  height: 400px;
}

.images, .images2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
